<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h2><strong> MULTISERVICIOS CASILLAS {{US}}</h2></strong>
      <br>
      <p> Ponemos a su disposición los servicios de vaporización (con expedicion de certificados), limpieza interior de autotanques, soldadura, pruebas hidrostaticas, sandblasteo, pruebas de hermeticidad, revisión de válvulas, preparación de la unidad para calibración, cambios de producto en el ramo de PEMEX. Contamos con amplia recomendación del transporte especializado, somos los mas rápidos y versátiles, aunado a esto aplicamos normas de calidad así como de seguridad.
      <br>
      <br>
      TRABAJOS 100% GARANTIZADOS los 365* dias del año.
      <br>
      </p>
    </div>
  </div>
</div>

