<div class="row">
  <div class"col-md-12">
   <h2 class="text-center"><strong>Empleado</strong></h2>
 </div>
</div>


<div class="row">
 <div class="col-md-12">
   <form action="/employee" method="POST">
     <label for="id_empleado"> Numero de Empleado </label>
     <input id="id_empleado" name="id_empleado" type="text-center">
     <br>
     <label for="nombre"> Nombre </label>
     <input id="nombre" name="nombre" type="text-center"
     placeholder="Ingresa t(u)s nombr(e)s">
     <br>
     <label for="a_paterno"> Apellido Paterno </label>
     <input id="a_paterno" name="a_paterno" type="text-center">
     <br>
     <label for="a_materno"> Apellido Materno </label>
     <input id="a_materno" name="a_materno" type="text-center">
     <br>
     <label> Genero </label>
     <select id="genero" name="genero">
     <option value="Hombre"> Hombre </option>
     <option value="Mujer"> Mujer </option>
     </select>
     <br>
     <label for="fecha_de_nacimiento"> Fecha de Nacimiento </label>
     <input type="text" name="fecha_de_nacimiento" id="fecha_de_nacimiento"
     placeholder="Ingresa la fecha en el siguiente formato dd/mm/AAAA" size="50">
     <br>
     <label for="puesto"> Puesto </label>
     <input id="puesto" name="puesto" type="text-center"> 
     <br>
     <label for="numss"> NSS </label>
     <input id="numss" name="numss" type="text-center"> 
     <br>
     <label for="direccion"> Direccion </label>
     <input id="direccion" name="direccion" type="text-center"> 
     <br>
     <label for="tipo_sanguineo"> Tipo Sanguineo </label>
     <input id="tipo_sanguineo" name="tipo_sanguineo" type="text-center">
     <br>
     <label for="foto">Photo</label>
     <input id="foto" name="foto" type="text-center">
     <br> 
     <br>
     <button type="submit" class="btn btn-primary"> Registrar</button>
   </form>
 </div>
</div>
     



